ETHERSCAN_API_KEY=ABC123ABC123ABC123ABC123ABC123ABC1
ROPSTEN_URL=https://eth-ropsten.alchemyapi.io/v2/<YOUR ALCHEMY KEY>
PRIVATE_KEY=0xabc123abc123abc123abc123abc123abc123abc123abc123abc123abc123abc1
MUMBAI_URL=asd

NEXT_PUBLIC_MORALIS_APP_ID=MORALIS_APP_ID
NEXT_PUBLIC_MORALIS_SERVER_ID=MORALIS_SERVER_ID