.imageContainer {
  background-image: url("/images/bg-features.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 85% 85%;
  padding: 4rem;
}

.telescope {
  background-image: url("/images/telescope.svg");
}
