.imageContainer {
  background-repeat: no-repeat;
  background-position: center;
  padding: 4rem;
}

.readContainer{
  background-image: url("/images/ellipse-read.svg");
  background-size: 90% 90%;
}
.resellContainer{
  background-image: url("/images/ellipse-resell.svg");
  background-size: 100% 100%;

}
.rentContainer{
  background-image: url("/images/ellipse-rent.svg");
  background-size: 100% 100%;

}
.publishContainer{
  background-image: url("/images/ellipse-publish.svg");
  background-size: 100% 100%;

}

.telescope {
  background-image: url("/images/telescope.svg");
}
